body { 
    flex: 1;
    flex-direction: column;
    font-family: sans-serif; 
    padding: 20px;
}

main{
    background-color: #fff;
}

.header{ 
    background-color: #fff;
    border-radius: 24;
    margin-bottom: 20px;
}


.user-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.btn-voltar {
    padding: 10px 20px;
    background-color: #1877f2;
    color: white;
    text-decoration: none;
    border-radius: 5px;   
}

.btn-excluir {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-excluir:hover { background-color: #c0392b; }