* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #6599E5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-image: url('../assets/fundo.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #0e2e5d;
}

.container {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    width: 100%;
    max-width: 350px;
}

.btn {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.logo-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 50;
    height: auto;
    max-width: 100%;
}

.btn-primary { background-color: #1877f2; color: white; }
.btn-secondary { background-color: #42b72a; color: white; }

@media (max-width: 480px) {
    .container {
        width: 90%;
        padding: 1rem;
    }
    
    .logo {
        width: 80px;
    }
}